.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

div::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 7px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 7px;
  }

  div::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    height: 20px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgb(200, 196, 196);
  }
  div::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #ffffff;
  }

.title-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

.text-btn {
    font-size: 14px;
    font-weight: 500; 
    cursor: pointer;
}

.text-btn2 {
    font-size: 14px;
    font-weight: 500; 
}

.text-btn3 {
    font-size: 14px;
    font-weight: 500; 
    /* color: #777777; */
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

.title-text2 {
    font-size: 1.0em;
}

.tips-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 20px;
    background-color: #FAFAFA;
}

.title-btn-group-nooverflow {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    
    /* border-bottom: 1px solid #ccc; */
    
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
    /* width: 320px; */
    /* height: 10vh; */
}

.title-btn-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    
    border-bottom: 1px solid #ccc;
    
    overflow-y: hidden;
    overflow-x: scroll;
    overflow: auto;
    /* width: 320px; */
    /* height: 10vh; */
}

.title-text-box {
    display: flex;
    flex-grow: 1;
    height: 100%;
    /* flex-shrink: 1; */
    flex-direction: column;
    /* width: calc(100% - 320px); */
    /* height: 10vh; */
    /* float: none; */
    /* display: inline-block; */
	align-items: center;
    justify-content: center;
    -webkit-app-region: drag;
    /* justify-content:space-between; */
}

.logo-box {
    display: flex;
    flex-grow: 0;
    height: 100%;
    /* flex-shrink: 1; */
    flex-direction: row;
    /* width: calc(100% - 320px); */
    /* height: 10vh; */
    /* float: none; */
    /* display: inline-block; */
	align-items: center;
    justify-content: center;
    /* -webkit-app-region: drag; */
    /* justify-content:space-between; */
}

.body-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 60px);
    
    border: 1px solid #CCCCCC;
}

.box-project {
    background: rgba(125, 125, 125, 0.26);
    padding: 4px;
    border: 1px solid #323232;
    border-radius: 10px;
}

.box-project-white {
    background: rgba(0, 0, 0, 0.0);
    padding: 4px;
    border: 1px solid #323232;
    border-radius: 10px;
}

.body-box-full {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh);
}

.robot-body-box {
    display: flex;
    flex-direction: column;
    /* padding: 5px 0; */
    flex: 1;
    /* justify-content: space-between; */
    /* width: 100%; */
    height: 100%;
}

.tool-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    height: 100%;
    padding: 5px;
    background-color: #FAFAFA;
    
    border-right: 1px solid #CCCCCC;
    /* box-shadow: 2px 0px 5px #ccc; */
}

.canvas-box-robot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: calc(10vw + 168px); */
    
    width: 100%;
    aspect-ratio: 1 / 1;
    /* height: ;//calc(10vw + 168px); */
    /* padding: 15px; */
    background-color: #FAFAFA;
    /* box-shadow: 0px 0px 10px #ccc; */
    border-bottom: 1px solid #ccc;
    align-items: center;
    justify-content: center;
}

.dashboard_wrapper {
    /* height: 600px;
     */
     
    flex-grow : 1;
    flex-shrink: 2;
     /* height: 100%; */
    display: grid;

    grid-template-columns: 50% 50%;
    /* 1fr 1fr; */
    /* 33.33% 33.33%; */
    /* grid-template-columns: 33.33% 33.33% 33.33%; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    /* gap: 10px; */
    /* padding: 10px; */
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #ffffff;
    justify-content: space-between;
}

  .item {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    font-size: 25px;
    border: 1px solid #CCCCCC;
    color: #000000;
    display:flex;
	align-items: center;
    justify-content: center;
    /* aspect-ratio: 1 / 1; */
    /* flex-grow: 1; */
  }
 
.debug-text-robot {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: calc(10vw + 168px);
    /* top: calc(10vw + 135px); */
    font-size: 3vh;
    color: rgb(255, 0, 0);
    align-items: center;
    justify-content: center;
}

.content-box {
    display: flex;
    flex-direction: column;
    width: calc(100% - 230px);
    height: 100%;
    background-color: #fff;
}

.content-box-robot {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: space-between; */
    /*calc(100% - 10vw - 168px);*/
    height: 50%;
    background-color: #fff;
    box-sizing: border-box;
    border-bottom:  1px solid #CCCCCC;
    /* box-shadow: 10px 10px 25px #ccc; */
  /* cursor: ns-resize; */
  overflow: hidden;
}

.plot-robot {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    justify-content: space-between;
    height: 50%;
    /*calc(100% - 10vw - 168px);*/
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    /* box-shadow: 10px 10px 25px #ccc; */
  /* cursor: ns-resize; */
  overflow: hidden;
}

.select-box-robot-msglist {
    position: relative;
    /* display: flex; */
    /* flex-direction: column; */
    /* flex: 1; */
    /* flex:1 1 auto; */
    /* /* flex-basis: auto; */
    flex-grow : 1;
    flex-shrink: 2;
    width: 100%;
    /* height: 100%; */
    /*calc(100% - 10vw - 168px);*/
    /* background-color: #fff; */
    box-sizing: border-box;
    background-color: #fff;
    /* border: 1px solid #CCCCCC; */
    /* box-shadow: 10px 10px 25px #ccc; */
  /* cursor: ns-resize; */
  overflow-y: auto;
  overflow-x: hidden;
}

.content-box-robot::-webkit-resizer  {
    opacity: 0;
    /* z-index: 999; */
}

.chart-robot {
    display: flex;
    /* width: 100%; */
    max-height: 90%;
    max-width: 90%;
    padding-left: 10%;
    /* overflow: auto; */
    /* overflow-x: hidden;*/
    /* overflow-y: auto;
    touch-action: none;
    outline: none; */
}

.vehicleview-robot {
    display: flex;
    /* width: 100%; */
    max-height: 90%;
    max-width: 90%;
    padding-left: 10%;
}

.charts {
    position: relative;
}

.protocol-msg-box {
    display: flex;
    flex-direction: column;
    padding: 15px;
    /* height: 40%; */
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 16px;
    /* height: calc(100% - 20px); */
    
    /* background-color: #ffffff; */
}

.receive-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 230px);
}
.receive-windows {
    width: 100%;
    height: calc(100% - 26px);
    padding: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.receive-windows-border {
    width: 100%;
    height: 300px;
    border:1px solid black;
    word-break: normal; 
    padding: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: auto;
    /* display: flex;s */
    flex-direction: column-reverse;
}

/* .receive-windows-p {
    /* display: flex;
    flex-direction: column-reverse; */
} */

.send-box {
    display: flex;
    flex-direction: column;
    height: 230px;
}

.send-header {
    height: 33px;
    padding-left: 15px;
    line-height: 26px;
    flex-direction: column;
    background-color: #FAFAFA;
    
    border-bottom: 1px solid #CCCCCC;
}

.vertical_resize_box {
    height: 5px;
    flex-direction: column;
    background-color: #efefef;
    cursor: row-resize;
}

.horizon_resize_box {
    width: 5px;
    flex-direction: column;
    background-color: #efefef;
    cursor: col-resize;
}

.send-header-plot {
    height: 33px;
    padding-left: 15px;
    line-height: 26px;
    flex-direction: column;
    background-color: #FAFAFA;
    border-bottom: 1px solid #ccc;
}

.robot-header {
    /* height: 26px; */
    /* padding-left: 15px; */
    justify-content: space-between;
    /* line-height: 26px; */
    background-color: #FAFAFA;
    /* border-bottom: 1px solid #ccc; */
}

.send-windows {
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #ccc;
}

.input-send-data {
    width: 100%;
    height: 100%;
    padding: 15px;
    border: 0px;
    resize: none;
}

.send-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

.btn-box {
    margin-right: 15px;
    margin-top: 8px;
}

.btn-title {
    font-weight: 500;
    border: 1px solid #CCCCCC;
    border-bottom: 0px;
    border-top: 0px;
    margin-right: 1px;
}

.btn-title-margin {
    font-weight: 500;
    border: 1px solid #CCCCCC;
    margin-right: 1px;
}

.btn-pause {
    font-weight: 500;
    margin-right: 2px;
    height: 30px;
    float: right;
}

.tool-bar-protocol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 100%;
    padding: 5px;
    background-color: #FAFAFA;
    box-shadow: 2px 0px 5px #ccc;
    border-right: 1px solid #CCCCCC;
}

.tool-bar-robot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%; 
    /* calc(10vw + 168px); */
    height: 100%;
    /* padding: 5px; */
    padding-right: 0;
    padding-left: 0;
    background-color: #FAFAFA;
    /* box-shadow: 2px 0px 5px #ccc; */
}

.btn-protocol-func-id {
    font-weight: 500;
    margin-top: 5px;
    width: 40px;
    background-color: #f5f8b5;
    height: 30px;
    padding: 2px;
}

.btn-robot-hz {
    font-weight: 500;
    margin-top: 5px;
    width: 120px;
    background-color: #f5f8b5;
    height: 30px;
    padding: 2px;
    line-height: 5%;
}

.btn-protocol {
    font-weight: 500;
    margin-top: 5px;
    width: 220px;
    height: 30px;
}

.btn-robot-msglist {
    font-weight: 500;
    margin-top: 5px;
    /* width: 230px; */
    width: 100%;
    
    align-items: center;
    justify-content: center;
    /* width: calc(20vw); */
    height: 30px;
}

.btn-project-msglist {
    font-weight: 500;
    margin-top: 5px;
    /* width: 230px; */
    /* width: 100%; */
    
    /* align-items: center; */
    /* justify-content: center; */
    /* width: calc(20vw); */
    height: 30px;
}

.btn-protocol-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* width: 100%; */
    /* flex: 1; */
    /* height: 100%; */
    /* flex: 1;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto; */
    /* justify-content: space-between; */
}


.robot-com {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    padding: 5px;
    justify-content: space-between;
    /* width: 320px; */
    /* width: calc(10vw + 168px); */
}

.my-title {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    justify-content: space-between;
    padding-right: 5px;
    padding-top: 5px;
    /* width: 320px; */
    /* width: calc(10vw + 168px); */
}

.robot-com-input {
    width: 37%;
}

.protocol-msg-btn-box {
    display: flex;
    flex-direction: row;
    width: 260px;
}

.robot-msg-btn-box {
    display: flex;
    flex-direction: row;
    /* width: calc(10vw + 155px); */
    width: 100%;
}

.project-item-btn-box {
    position: relative;
    display: flex;
    margin-top: 4px;
    flex-direction: row;
    /* width: calc(10vw + 155px); */
    width: 100%;
    justify-content: space-between;
}

.protocol-msg-output-box {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.text-warn {
    color:red;
}

.protocol-export-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #fff;
    justify-content: space-between;
    padding: 5px;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    outline: none;
}
